.App {
  text-align: center;
}
.mi-header {
  position: fixed;
  left: 0;
  top: 0;
  /* transform: translateX(0); */
  height: 100vh;
  width: 300px;
  background: #191d2b;
  /* border-right: 1px solid #2e344e; */
  z-index: 10;
  transition: all .4s ease-out;
}
.mi-header-inner {
  width:  auto;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}
.mi-header-image a {
  height: 200px;
  width: 200px;
  border-radius:1000px;
  border: 7px solid #2e344e;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
img {
  max-width: 170%;
}
/* .mi-header-menu {
  width: 100%;
  padding: 15px 5px;
} */
/* Link{
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */

.a{
  text-transform: uppercase;
  font-size: .94rem;
  letter-spacing: 1px;
  display: block;
  padding: 5px 0;
  color: #a4acc4;
  transition: all .4s ease-out;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* text-decoration:none; */
  background-color: transparent;
}
